<%- include('./partials/header.ejs') %>

    <body class="page-background">
        <nav class="navbar navbar-dark nav-bar">
            <span class="navbar-brand mb-0 h1">WasmFiddle</span>
        </nav>
        <div class="row" style="height: 75px"></div>
        <div class="row">
            <div class="col-5 offset-md-1">
                <select class="form-select" aria-label="Select Language" id="languages">
                    <option selected value="c"> C </option>
                    <option value="cpp"> C++ </option>
                    <option value="rust"> Rust </option>
                </select>
            </div>
            <div class="col-md-3 ml-5 button-container">
                <button type="button" class="btn run-btn" onclick="executeCode()"><i class="fas fa-play"></i>
                    Run</button>
                <button type="button" class="btn btn-dark clear-btn ml-1" id='clearOutput' onclick="clearOutput()"><i
                        class="fas fa-ban"></i>
                    Clear</button>
            </div>
            <div class="col dropdown">
                <button class="btn share-btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-share-alt"></i>
                    Share
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#embedCodeModal" id="embed" data-toggle="modal">
                        <i class="fas fa-share"></i>
                        Embed
                    </a>
                    <a class="dropdown-item disabled" href="#" id="email">
                        <i class="far fa-envelope"></i>
                        Email</a>
                </div>
            </div>
        </div><br>
        <div class="row" style="height: 1000;">
            <div class="col-5 offset-md-1 mr-5" style="resize: none; height: 700;">
                <textarea class="editor" id="editor" style="resize: none; height: 700;"></textarea>
            </div>
            <div class="col-4 text-white bg-dark">
                <div class="output">
                    <div id="output-container"></div>
                </div>
            </div>
        </div>

        <!-- Modal to show code to embed in website -->
        <div class="modal fade" tabindex="-1" role="dialog" id="embedCodeModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-10 align-self-center">
                                <input type="text" class="form-control" id="embeddableCode" readonly value='<%- include('./partials/embeddable.ejs') %>'>
                            </div>
                            <div class="col align-self-center">
                                <div type="button" id="copyEmbedCode" onclick="copyEmbeddedCode('embeddableCode')">
                                    <i class="far fa-copy fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toast -->
        <!-- Flexbox container for aligning the toasts -->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center"
            style="min-height: 200px;">
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="copiedToast">
                <div class="toast-body">
                    Copied!
                </div>
            </div>
        </div>
    </body>

    </html>